footer{
  z-index: $zIndex-footer;
  
  padding-top: 50px;
  padding-bottom: 50px;
  
  background: $white;
  border-bottom: 20px solid $blue;
  
  > div{
    max-width: 1400px !important;
    margin: auto;
    
    div:first-child{
      img{
        max-width: 250px;
      }
    }
  
    p{
      margin-bottom: 1em;
      
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

@media #{$small-only}{
  footer{
    > div{
      div{
        margin-bottom: 20px;
      }
    }
  }
}