.section_domain{
  .top,
  .bottom{
    &.is_pinned{
      top: 100px;
      left: 0;
      position: fixed;
    }
  }
  
  .section_header{
    &.is_pinned{
      position: fixed;
    }
  }
}

.section_domain.is_scrolled{
  height: 100vh;
  margin-top: 100vh;
  
  .top,
  .bottom{
    top: 0 !important;
    position: absolute !important;
  }
  
  .section_header{
    position: absolute !important;
  }
}