.section_domain{
  .top,
  .bottom{
    &.is_pinned{
      top: 60px;
      left: 0;
      position: fixed;
      
      height: calc(100% - 60px);
    }
  }

  .section_header{
    &.is_pinned{
      top: 120px;
      position: fixed;
    }
  }
}

.section_domain.is_scrolled{
  .top,
  .bottom{
    top: 0 !important;
    position: absolute !important;
    
    height: 100%;
  }

  .section_header{
    top: 60px;
    position: absolute !important;
  }
}