.section_accordion{
  .section_header{
    max-width: 650px;
    margin: auto;
  }
}

.section_accordion .section_header > a{
  @include flex;
  @include align-items( center );
  
  width: 50%;
  float: left;
  padding-bottom: $section-spacing;
  
  img{
    float: left;
    
    width: 50px;
    margin-right: 1em;
  }
}

.section_accordion .section_body{
  background: $blue;
  
  *{
    color: $white;
  }
  
  > div{
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    
    max-width: 600px;
    margin: auto;
    padding: $section-spacing 0;
    
    .inner{
      top: $section-spacing;
      position: absolute;
    }
  }
}
