.section_accordion{
  padding-bottom: 0;
}

.section_accordion .section_header > a{
  @include flex;
  @include align-items( center );
  
  width: 50%;
  float: left;
  padding-bottom: $section-spacing;
  
  img{
    float: left;
    
    width: 50px;
    margin-right: 1em;
  }
  
  &:after{
    @include transform( rotate(45deg) );
    
    content: '';
    right: 0;
    bottom: -15px;
    left: -50px;
    position: absolute;
    
    width: 30px;
    height: 30px;
    margin: auto;
    
    background-color: $blue;
  }
}

.section_accordion .section_body{
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  
  background: $blue;
  
  *{
    color: $white;
  }
  
  > div{
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    
    max-width: 750px;
    margin: auto;
    padding: $section-spacing $side-margin;
    
    .inner{
      top: $section-spacing;
      position: absolute;
    }
  }
}

@media #{$small-only}{
  .section_accordion .section_body{
    > div{
      padding: $section-spacing $side-margin-small;
    }
  }
}