.section_domain{
  padding: 0;
  width: 100%;
  
  *{
    color: $white;
  }
  
  .top,
  .bottom{
    position: absolute;
    
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .top{
    top: 0;
  }
  
  .bottom{
    bottom: 0;
    
    background: $blue-transparent;
    
    > div{
      bottom: 60px;
      right: 0;
      left: 0;
      margin: auto;
      position: absolute;
      
      p{
        margin-bottom: 1em;
      }
    }
  }
}

// Max width
.bottom > *{
  max-width: 750px;
  margin: auto;
}

// domain header
.section_domain .section_header{
  top: 60px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: $zIndex-domainHeader;

  p{
    margin-bottom: 1em;
  }
}