.section_domain{
  padding: 0;
  width: 100%;
  
  *{
    color: $white;
  }
  
  .section_header{
    z-index: $zIndex-domainHeader;
  }
  
  .top,
  .bottom{
    position: absolute;
    
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .top{
    top: 0;
    
    z-index: $zIndex-domainTop;
  }
  
  .bottom{
    bottom: 0;
    z-index: $zIndex-domainBottom;
    
    background: $blue-transparent;
    
    > div{
      bottom: 60px;
      right: 0;
      left: 0;
      margin: auto;
      position: absolute;
      
      p{
        margin-bottom: 1em;
      }
    }
  }
}

// Max width
.bottom > *{
  max-width: 750px;
  margin: auto;
}

// domain header
.section_domain .section_header{
  top: 60px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: $zIndex-domainHeader;

  p{
    margin-bottom: 1em;
  }
}

@media #{$medium-down}{
  .section_domain{
    position: relative !important;
    
    height: auto !important;
    margin-top: 0 !important;
    margin-bottom: 50px;
    padding: 60px 0;
    
    background-color: $blue;
    
    .section_header{
      top: 0 !important;
      position: relative !important;
      
      margin-bottom: 60px;
    }
    
    .top,
    .bottom{
      position: relative !important;
      
      height: auto !important;
      overflow: hidden;
    }
    
    .bottom > div{
      bottom: 0;
      position: relative;
      
      height: auto;
      overflow: hidden;
    }
  }
  
  .section_domain.is_scrolled{
    div.section_header,
    div.top,
    div.bottom{
      position: relative !important;
    }
  }
}