.section_domain{
  padding: 0;
  width: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  *{
    color: $white;
  }
  
  .inner{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 120px 0;
    
    background-color: $blue-transparent;
    
    p{
      margin-bottom: 1em;
    }
    
    > *{
      max-width: 750px;
      margin: auto;
    }
  }
}

// Animations
.section_domain{
  .inner,
  .inner .section_header,
  .inner .section_body{
    @include hide( .5s );
  }
  
  .section_header{
    @include transform( translateX(-50px) );
  }
  
  .section_body{
    @include transform( translateX(50px) );
  }
}

@media screen and (max-width: 1024px){
  .section_domain{
    position: relative !important;
    
    height: auto !important;
    margin-top: 0 !important;
    margin-bottom: 60px;
    
    .inner{
      height: auto;
      overflow: hidden;
    }
    
    .inner,
    .inner .section_header,
    .inner .section_body{
      @include show( 0s );
      @include transform( translateX(0) );
    }
  }
}