.section_grid{
  .section_header{
    top: 35px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
  }
  
  .section_body{
    ul{
      width: 100%;
      height: 500px;
    
      li{
        height: 100%;
        padding: 0;
      }
    }
  }
}

// Grid item
.section_grid ul li{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  
  .mask{
    width: 100%;
    height: 100%;
    
    background: $blue-transparent;
  }
  
  p{
    bottom: 35px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    
    padding: 0 35px;
  }
}

// Removing margin-bottom for last row
@media #{$large-up}{
  @for $value from $block-grid-elements through 1{
    .l-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$medium-only}{
  @for $value from $block-grid-elements through 1{
    .m-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$small-only}{
  @for $value from $block-grid-elements through 1{
    .s-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

.section_grid ul.isotope_masonry{
  li:nth-child(n){
    margin-bottom: $column-gutter;
    
    img{
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1400px){
  .section_grid{
    ul{
      li{
        width: 25%;
      }
    }
  }
}