section{
  height: auto;
  overflow: hidden;
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
  background: $white;
  
  .section_header,
  .section_body,
  &.section_domain .bottom > *{
    max-width: 750px;
    margin: auto;
    padding-left: $side-margin;
    padding-right: $side-margin;
    clear: both;
  }
  
  .section_header{
    margin-bottom: $section-spacing / 2;
  }
}

// First and last sections get extra padding
main section:last-child{
  padding-bottom: $section-spacing * 2;
}

.section_header{
  h2{
    margin-bottom: $section-spacing / 4;
  }
}

@media #{$small-only}{
  section{
    .section_header,
    .section_body,
    &.section_domain .bottom > *{
      padding-left: $side-margin-small;
      padding-right: $side-margin-small;
    }
  }
}