.section_team{
  padding-top: 0;
  
  .section_body{
    > div{
      @include flex;
      @include align-items( center );
      
      margin-bottom: 50px;
      
      &:first-child{
        padding-top: $section-spacing;
        
        border-top: thin dotted $blue;
      }
      
      // Image
      div:first-child{
        float: left;
        
        min-width: 150px;
        width: 150px;
        height: 150px;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
        -webkit-filter: grayscale(1);
      }
      
      // Information
      div:last-child{
        float: left;
        
        padding-left: 2em;
      }
    }
  }
}

@media #{$small-only}{
  .section_team{
    .section_body{
      > div{
        // Image
        div:first-child{
          min-width: 100px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}