%base{
  @include nimbus;
  
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: $blue;
}

h1{
  @extend %base;
}

h2{
  @extend h1;
  
  font-size: rem-calc(90);
  font-weight: 700;
}

h3{
  @extend h1;
  
  font-size: rem-calc(36);
}

p{
  @extend %base;
  
  font-size: rem-calc(18);
}

a{
  @extend %base;
  
  color: black;
  text-decoration: underline;
  cursor: pointer;
  
  &.link-h1,
  &.link-h2,
  &.link-h3,
  &.link-p{
    text-decoration: none;
  }
}