%base{
  @include nimbus;
  
  font-size: 16px;
  font-weight: 300;
  color: $blue;
}

h1{
  @extend %base;
}

h2{
  @extend h1;
  
  font-size: rem-calc(80);
  font-weight: 700;
}

h3{
  @extend h1;
  
  font-size: rem-calc(36);
}

p{
  @extend %base;
  
  font-size: rem-calc(18);
}

a{
  @extend %base;
  
  color: black;
  cursor: pointer;
  text-decoration: none;
}