nav ul{
  display: inline;
  
  li{
    display: inline-block;
    padding-right: 2em;
    
    a{
      text-decoration: none;
    }
  }
}

nav .address{
  display: none;
  
  p{
    margin-bottom: 1em;
  }
}

// Current and hover
nav ul{
  li{
    a:after{
      @include hide( .3s );
      
      content: '';
      
      bottom: -10px;
      right: 0;
      left: 0;
      position: absolute;
      
      width: 70%;
      height: 1px;
      margin: auto;
      
      background-color: $blue;
    }
  }
  
  li:hover,
  li.current-menu-item{
    a:after{
      @include show( .3s );
    }
  }
}

@media #{$small-only}{
  nav{
    @include transition( .2s );
    @include transform( translateY(-100%) );
    
    top: 0;
    left: 0;
    position: absolute;
    
    width: 100%;
    padding: 60px;
    background: $white;
    
    ul{
      display: block;
      margin-bottom: 1em;
      
      li{
        display: block;
        padding: 1em 0;
        
        a{
          font-size: rem-calc(24);
        }
      }
    }
    
    .lang{
      display: block;
      margin-bottom: 50px;
      
      a{
        font-size: rem-calc(24);
      }
    }
    
    .address{
      display: block;
    }
  }
}